Django~=5.2
djangorestframework  # Si estás usando Django REST Framework
django-environ~=0.12.0
django-cors-headers  # Si usas CORS
django-allauth~=65.7.0
django-allauth[socialaccount]
gunicorn
psycopg2-binary
dj_database_url
whitenoise
django-storages
django-storages[boto3]==1.14.6
boto3
drf-yasg
django-filter>=23.1


views~=0.3
requests~=2.25.1