{% extends "base.html" %}

{% block content %}
<h1 class="issue">Issues</h1>

<div class="issue__filter-add--Container">
    <div class="issue__filter">
        <a href="{% url 'issue_create' %}">
            <div class="issue__filter-button">
                <span class="material-icons"> tune</span>
                <p>Filters</p>
            </div>
        </a>
        <form method="get" action="{% url 'issue_list' %}">
          <div class="issue__search-bar">
            <div class="issue__search-bar--container">
              <span class="material-icons">search</span>
              <input type="text" name="search" placeholder="Search issues..." value="{{ request.GET.search|default:'' }}" />
            </div>
          </div>
        </form>
    </div>

    <div class="issue__add">
        <div class="issue__add-button">
            <!-- Enlace que apunta al modal -->
            <a class="open-modal" href="#modal-create">
                <div class="issue__add-button--container">
                    <span class="material-icons"> add </span>
                    <p>New Issue</p>
                </div>
            </a>
        </div>
        <div class="issue__addBulk-button">
            <a class="open-modal" href="#modal-bulk-create">
                <span class="material-icons"> post_add </span>
            </a>
        </div>
    </div>
</div>

{% include "issues/issue_table.html" %}

<!-- Modal utilizando :target -->
<div id="modal-create" class="modal">
    <div class="modal-content">
        <div class="navBar__modal">
            <h1>New Issue</h1>
            <a href="#" class="close">&times;</a>
        </div>

        <form method="post" action="{% url 'issue_create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal__form-container">
                <div class="modal__form-Subject">
                    <label for="id_subject">Subject</label> {{ form.subject }}
                </div>

                <label for="id_description">Description</label>
                {{ form.description }}

                <label class="modal-text" for="id_status">Status</label>
                {{ form.status }}

                <label class="modal-text" for="id_assigned_to">Assigned To</label>
                {{ form.assigned_to }}

                <div class="attachments">
                    <label class="modal-text" for="id_attachments">Attachments</label>
                    <div class="attachment-box">
                         {{ form.attachments }}
                    </div>
                    {% if form.attachments.errors %}
                        <div class="errorlist">{{ form.attachments.errors }}</div>
                    {% endif %}
                </div>

                {% if form.non_field_errors %}
                    <div class="errorlist">{{ form.non_field_errors }}</div>
                {% endif %}

                <button type="submit" class="create-btn">Create</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal para Add Bulk -->
<div id="modal-bulk-create" class="modal">
    <div class="modal-content-bulk">
        <div class="navBar__modal">
            <h1>Add Issues in Bulk</h1>
            <a href="#" class="close">&times;</a>
        </div>

        <form method="post" action="{% url 'issue_bulk_create' %}">
            {% csrf_token %}
            <div class="modal__form-container">
                <!-- Bulk Issue Input -->
                <label for="issues_text">Enter issues (one per line)</label>
                <textarea id="issues_text" name="issues_text" rows="10"
                    placeholder="Issue 1&#10;Issue 2&#10;Issue 3"></textarea>

                <!-- Submit Button -->
                <button type="submit" class="create-btn">Create Issues</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
