{% extends "base.html" %}

{% block content %}


<div class="issue-info-main">

    <div class="issue-info-principal">
    <div class="issue-info-title">
        <div class="issue-info-title-title">
            <h1>#{{ issue.id }} {{ issue.subject }}</h1>
            <div class="issue-info-title-edit">
                <a href="?edit=true">
                    <span class="material-icons">edit</span>
                </a>
            </div>
        </div>


        {% if request.GET.edit %}
            <form method="POST" action="{% url 'update_issue_info_title' issue.id %}">
                {% csrf_token %}
                <input type="text" name="subject" value="{{ issue.subject }}" required />
                <button type="submit">Save</button>

                <a href="{% url 'issue_detail' issue.id %}" class="cancel-edit">Cancel</a>
            </form>
        {% endif %}

        <div class="issue-info-goToOtherIssue">
            <div class="issue-info-goToOtherIssue-icon">
                <span class="material-icons">arrow_back_ios</span>
            </div>
            <div class="issue-info-goToOtherIssue-icon">
                <span class="material-icons">arrow_forward_ios</span>
            </div>
        </div>
    </div>

                    <div class="issue-info-header">
                            <h2>Issue Details</h2>
                        <div class="issue-info-created">
                                <p><strong>Created by:</strong> {{ issue.created_by }}</p>
                                <p><strong>Created at:</strong> {{ issue.created_at }}</p>
                        </div>
                    </div>


                <div class="issue-info-description">
                    <h2>Description</h2>
                    <form method="POST" action="{% url 'update_issue_description' issue.id %}">
                        {% csrf_token %}
                        <textarea id="description" name="description" placeholder="Add description">{{ issue.description }}</textarea>
                        <div class="issue-info-saveButtons">
                            <input type="submit" value="Save" class="info-issue-saveButton">
                        </div>
                    </form>
                </div>

                <div class="issue-info-attachments">
                <div class="issue-info-attachments-title">
                    <h2>Attachments</h2>
                    <div class="issue-info-attachments-add">
                        <span class="material-icons"> add </span>
                    </div>

                </div>
                    <div class="issue-info-attachments-box">
                        <p class="issue-info-attachments-drop" >Drop attachments here!</p>
                        <input type="file" id="attachments" name="attachments" multiple>
                    </div>
                    {% for attachment in issue.attachments.all %}
                        <a href="{{ attachment.file.url }}">{{ attachment.file.name }}</a>
                    {% endfor %}
                </div>

                <div class="issue-info-comments">
                    <div class="issue-info-comments-title">
                        <h2> {{ issue.comments.size }}Comments</h2>
                    </div>
                    {% for comment in issue.comments.all %}
                        <div class="issue-info-comment">
                        <p>{{ comment.user.avatar }}</p>
                            <div class="issue-info-comment-main">
                                <p><strong>{{ comment.user.username }}</strong></p>
                                <p>{{ comment.text }}</p>
                                <p class="issue-info-comment-date">{{ comment.published_at }}</p>
                            </div>
                            <div class="issue-info-comment-buttons">
                                    <div class="issue-info-status-buttons-comment-edit">
                                        <span class="material-icons">edit</span>
                                    </div>

                                    <div class="issue-info-status-buttons-comment-delete">
                                        <a href="{% url 'issue_info_delete_comment' issue.id comment.id  %}">
                                             <span class="material-icons">delete</span>
                                        </a>
                                    </div>

                            </div>
                        </div>
                    {% empty %}
                        <p>No comments yet.</p>
                    {% endfor %}
                <form method="POST" action="{% url 'add_comment_to_issue' issue.id %}">
                    {% csrf_token %}
                    <textarea  name="comment_text" placeholder="Type a new comment here"></textarea>
                    <div class="issue-info-saveButtons">
                            <input type="submit" value="Add Comment" class="info-issue-saveButton">
                    </div>
                </form>

                </div>

                <div class="issue-info-back">
                    <a href="{% url 'issue_list' %}">Back to Issues</a>
                </div>
    </div>
        <div class="issue-info-status">
        <aside>
            <p><strong>Status:</strong></p>
        <form method="POST" action="{% url 'update_issue_status' issue.id %}">
            {% csrf_token %}
            <label for="status"></label>
            <select id="info-issue-status-selector" name="status" onchange="this.form.submit()">
                {% for value, label in issue.STATUS_CHOICES %}
                        <option value="{{ value }}" {% if issue.status == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                        {% endfor %}
            </select>
        </form>
            <div class="issue-info-status-properties">
                <p><strong>Severity:</strong> {{ issue.get_severity_display }}</p>
            <p><strong>Priority:</strong> {{ issue.get_priority_display }}</p>
            <p><strong>Type:</strong> {{ issue.get_type_display }}</p>
            </div>
            <div class="issue-info-status-assigned">
                <p><strong>Assigned to:</strong> {{ issue.assigned_to }}</p>
                <div class="issue-info-status-assigned-list">
                    {% for assigned in issue.assigned_to.all %}
                        <p>{{ assigned }}</p>
                    {% endfor %}
                <div class="issue-info-status-assigned-button">
                    <a href="?show_issue_info_assign_user_form=true">
                        <span class="material-icons" > add </span>
                        <p>Add assigned</p>
                    </a>
                    {% if show_issue_info_assign_user_form %}
                        <div class="issue-info-add-assigned">
                            <div class="issue-info-add-assigned-close">
                                <span class="material-icons">close</span>
                            </div>
                            <div class="issue-info-add-assigned-container">
                                <h1>Select assigned user</h1>
                                <div class="issue-info-add-assigned-search">
                                    <form method="GET" action=".">
                                        <input type="hidden" name="show_assign_form" value="1">
                                        <input type="text" name="q" placeholder="Search users" value="{{ request.GET.q }}">
                                        <button type="submit">Search</button>
                                    </form>
                                </div>
                                <div class="issue-info-add-assigned-list">

                                </div>
                                <div class="issue-info-add-assigned-addButton">
                                    <input type="submit" value="Add">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="issue-info-status-assigned-button">
                    <span class="material-icons"> add </span>
                    <p>Assign to me</p>
                </div>

                </div>
            </div>
            <div class="issue-info-status-watchers">
                <p><strong>Watchers:</strong> {{ issue.watchers }}</p>
                <div class="issue-info-status-watchers-list">
                    {% for watcher in issue.watchers.all %}
                        <p>{{ watcher }}</p>
                    {% endfor %}
                <div class="issue-info-status-watchers-button">
                    <span class="material-icons"> add </span>

                    <p>Add watchers</p>
                </div>
                <div class="issue-info-status-watchers-button">
                    <span class="material-icons"> add </span>

                    <p>Watch</p>
                </div>
                </div>
            </div>
            <div class="issue-info-status-buttons">
                <div class="issue-info-status-buttons-icon">
                    <span class="material-icons">schedule</span>
                </div>
                <div class="issue-info-status-buttons-icon">
                    <span class="material-icons">delete</span>
                </div>
            </div>
        </aside>
            </div>
</div>



{% endblock %}