{% extends "base.html" %}

{% block content %}
<h1 class="issue">Issues</h1>

<section class="issue__table">

    <!-- Cabecera de columnas -->
    <div class="issue__key-container">
        <span class="issue__key">Type</span>
        <span class="issue__key">Severity</span>
        <span class="issue__key">Priority</span>
        <span class="">Issue</span>
        <!-- Última columna para los íconos, si quieres -->
        <span class="issue__key"> Status</span>
        <span class="issue__key"> Modified</span>
        <span class="issue__key"> Assign to </span>
    </div>

    <ul>
        {% for issue in issues %}
        <li class="issue__item">
            <div class="issue__item-content">

                <!-- 1ª columna: Bola de Type -->
                <div class="issue__type">
                </div>

                <!-- 2ª columna: Bola de Severity -->
                <div class="issue__severity">
                </div>

                <!-- 3ª columna: Bola de Priority -->
                <div class="issue__priority">
                </div>

                <!-- 4ª columna: Detalle del Issue (ID, Subject, Descripción...) -->
                <div class="issue__detail">
                    <p class="issue__id">#{{ issue.id }}</p>
                    <p class="issue__topic">{{ issue.subject }}</p>
                    <p class="issue__description">{{ issue.description }}</p>
                </div>

                <form class="issue__form" method="POST" action="{% url 'update_issue_status' issue.id %}">
                    {% csrf_token %}
                    <select name="status" class="issue__select" onchange="this.form.submit()">
                        {% for value, label in issue.STATUS_CHOICES %}
                        <option value="{{ value }}" {% if issue.status == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                        {% endfor %}
                    </select>
                </form>


                <p class="issue__text"> {{ issue.created_at }}</p>
                <p class="issue__text"> Inkih </p>

                <!-- 5ª columna: Íconos (opcional) -->
                <a href="{% url 'delete_issue' issue.id %}">
                    <span class="material-icons issue__icon">delete</span>
                </a>


            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
