{% extends "base.html" %}
{% block content %}

<div style="text-align: right; margin-bottom: 10px;">
    <a href="{% url 'issue_list' %}" class="btn btn-secondary">Retroceder</a>
</div>

<h1>Configuraciones</h1>
{% for key, objects in data.items %}
<h2>{{ key|title }}</h2>
<a href="{% url 'settings_create' key %}" class="btn btn-primary">Añadir {{ key|title }}</a>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Slug</th>
        <th>Color</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
    <tr>
        <td>{{ obj.nombre }}</td>
        <td>{{ obj.slug }}</td>
        <td style="background-color: {{ obj.color }};">{{ obj.color }}</td>
        <td>
            <a href="{% url 'settings_edit' key obj.pk %}">Editar</a> |
            <a href="{% url 'settings_delete' key obj.pk %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}