
.issue-info-main {
display: flex;
      flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px; /* espacio entre las columnas */
      color: #2a6888;
}
.issue-info-principal {
flex: 3;
      width:75%;
      margin-bottom: 20px;
}

.issue-info-goToOtherIssue {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
}

.issue-info-goToOtherIssue-icon {
      border-radius: 10px;
      padding: 10px;
      color: #008aa8;
      align-items: center;
}

.issue-info-goToOtherIssue-icon:hover {
      background-color: #eee;
}

.issue-info-goToOtherIssue-icon span{
      font-size: 20px
}

.issue-info-header {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
}

.issue-info-created {
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      color: #2a6888;
      margin-bottom: 5px;
      font-size: 15px;
}

.issue-info-saveButtons {
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
}

.issue-info-saveButtonsDueDate {
      display: flex;
      justify-content: center;
      padding-right: 10px;
      margin-top: 10px;
      gap: 20px;
}

.info-issue-saveButton {
      background-color: #83eede;
      border-radius: 5px;
      text-align: center;
      font-size: 15px;
      padding: 7px;
      border-color: #83eede;
      border: none;
      cursor: pointer;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.info-issue-saveButton:hover {
      background-color: #6be3d399;
}

.cancel-edit-comment {
    background-color: #e0e0e0; /* Gris claro */
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding: 7px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #333; /* Color del texto gris oscuro */
    margin-left: 5px; /* Añade un pequeño margen a la izquierda */
}

.cancel-edit-comment:hover {
    background-color: #d0d0d0; /* Gris ligeramente más oscuro al pasar el ratón */
}

.issue-info-status {
      flex: 1;
      width:25%;
      background-color: #e3ebef;
      padding: 10px;
      border-radius: 10px;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      font-size: 15px;
}

.issue-info-status-properties {
display:flex;
      flex-direction: column;

}

.issue-info-status-assigned {
      margin-bottom: 10px;
}

.issue-info-status-assigned-list {
      display:flex;
      font-size: 14px;
      flex-direction: column;
      gap:20px;
      justify-content: left;
}

.issue-info-status-assigned-buttons {
      display:flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;
      align-items: center;
}

.issue-info-status-assigned-button {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    font-size: 14px;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 5px 1px #ccc;
    text-decoration: none;
    color: #008aa8;
    border: none; /* Añadido para eliminar el borde predeterminado del botón */
    cursor: pointer; /* Añadido para que el cursor se vea como un puntero al pasar por encima */
}



.issue-info-status-assigned-button span {
      font-size: 22px;
}

.issue-info-status-assigned-button:hover {
      background-color: #eee;
}

.issue-info-assigned-item {
      margin-bottom: 10px;
      gap:15px;
    position: relative;
    display: flex;

    align-items: center;
    padding: 5px; /* Añadimos padding para mejor interacción */
}

.issue-info-assigned-item:hover .issue-info-delete-form {
    display: inline-block;
}

.issue-info-status-buttons {
      display: flex;
      flex-direction: row;

      font-size: 10px;
      gap: 15px;
      align-items: center;
      padding: 15px;

      text-align: center;
      margin-top: 10px;
}
.issue-info-status-buttons-icon {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 10px;
      font-size: 5px;
      box-shadow: 0 0 5px 1px #ccc;
      color: #008aa8;
}

.issue-info-status-buttons-icon span{
      font-size: 25px
}

.issue-info-status-buttons-icon:hover {
      background-color: #eee;
}

.issue-info-due-date-set {
      background-color: #ea7c0e;
      color: #fff;
}

.issue-info-due-date-set span {
     color:#fff;
}

.issue-info-due-date-set:hover {
      background-color: #ec9239;
}

.issue-info-due-date-expired {
    background-color: #dd3333;
    color : #fff;
}

.issue-info-due-date-expired span {
    color : #fff;
}

.issue-info-due-date-expired:hover {
    background-color: #bb3333;
}




.issue-info-status-watchers {
      margin-bottom: 10px;
}

.issue-info-status-watchers-buttons {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
}

.issue-info-status-watchers-list {
display:flex;
      flex-direction: row;
      gap: 20px;
      font-size: 14px;
      justify-content: left;
}

.issue-info-status-watchers-button {
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      align-items: center;
      padding: 10px;
      font-size: 14px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 5px 1px #ccc;
      color: #008aa8;
      text-decoration: none;
      gap: 5px;
      justify-content: space-between;

}



.issue-info-status-watchers-button span{
      font-size: 22px;
}

.issue-info-status-watchers-button:hover {
      background-color: #eee;
}

.issue-info-status-buttons {
display:flex;
      flex-direction: row;
      font-size: 5px;
}

.issue-info-description {
      margin-bottom: 10px;

}
.issue-info-attachments {
      margin-bottom: 20px;

}

.issue-info-attachments-add {
      border-radius: 8px;
      padding: 5px;
}

.issue-info-attachments-add:hover {
      background-color: #bababd;
}

.issue-info-attachments-add span{
      font-size: 35px;
}

#info-issue-status-selector {
      background-color: #fff;
}

.issue-info-attachments-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #d8d9dc;
      border-radius: 10px;
      padding: 5px 10px;
      margin-bottom: 10px;
}

.issue-info-attachments-box {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 2px dashed #ccc;
      padding: 20px;
      text-align: center;
}

.issue-info-attachments-drop {

}

.issue-info-status-comments {
      margin-bottom: 20px;
}
.issue-info-comments-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #d8d9dc;
      border-radius: 10px;
      padding: 10px;
}
.issue-info-back {
      margin-top: 20px;
}

.issue-info-comment{
      border-bottom: 1px solid #609aa3;
      padding-bottom: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
        align-items: center;
}

.issue-info-comment:hover .issue-info-comment-buttons {
      opacity: 1;
      pointer-events: auto;
}

.issue-info-comment-main {
      width: 90%;
}

.issue-info-comment-buttons {
      display:flex;
      flex-direction: row;
      justify-content: flex-end;
      opacity: 0;
      pointer-events: none;
      align-items: center;
      gap: 10px;
      transition: opacity 0.3s ease, pointer-events 0.3s ease;
}

.issue-info-status-buttons-comment-edit span{
      color: #6e9197;
      font-size: 25px;
      margin-right:7px;
}

.issue-info-status-buttons-comment-delete span{
      color: #b84444;
      font-size: 25px;
      margin-left:7px;
}

.issue-info-title {
      display: flex;
      flex-direction: row;
      gap: 10px;
       justify-content: space-between;
}

.issue-info-title-title {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
}

.issue-info-title-title:hover .issue-info-title-edit {
      opacity: 1;
      pointer-events: auto;
}

.issue-info-title-edit {
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease, pointer-events 0.3s ease;
}

.issue-info-title-edit span {
      font-size: 25px;
      color: #6e9197;
}

.issue-info-attachment {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      border-bottom: 1px solid #adafaf;
      padding-bottom: 10px;
      margin-bottom: 10px;
}

.issue-info-attachment-main {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin-right: 10px;
}

.issue-info-attachment-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      opacity: 0;
      pointer-events: none;
      align-items: center;
      gap: 5px;
      transition: opacity 0.3s ease, pointer-events 0.3s ease;
}


.issue-info-status-buttons-attachment-delete span{
      color: #b84444;
      font-size: 25px;
}

.issue-info-attachment:hover .issue-info-attachment-buttons {
      opacity: 1;
      pointer-events: auto;
}

.issue-info-attachment-upload {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;
}

.issue-info-hidden-upload-button {
      background-color: #83eede;
      border-radius: 5px;
      text-align: center;
      font-size: 15px;
      padding: 7px;
      border-color: #83eede;
      border: none;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer;
}

.issue-info-hidden-upload-button:hover {
      background-color: #6be3d399;
}

.issue-info-watcher-item {
      gap:15px;
      margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-between; /* Alinea el nombre y el botón con espacio entre ellos */
    align-items: center;
    padding: 5px; /* Añadimos padding para mejor interacción */
}

.issue-info-delete-form {
    display: none;
}

.issue-info-watcher-item:hover .issue-info-delete-form {
    display: inline-block;
}

.issue-info-delete-button {
      justify-content: right;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1em; /* Ajusta el tamaño del icono al tamaño del texto */
}

.issue-info-delete-button span {
      font-size:20px;
    color: red;
}

.issue-info-delete-button:hover span {
    color: #b84444;
}

#infoIssueSetDueDateModal .modal-content h2,
#infoIssueSetDueDateModal .modal-content label {
    font-size: 15px;
}

.info-issue-deleteDueDateButton {
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    padding: 0; /* Elimina el relleno del botón */
    cursor: pointer;
}

.info-issue-deleteDueDateButton span{
    font-size: 22px; /* Ajusta el tamaño del icono al tamaño del texto */
    color: red;
}

.info-issue-deleteDueDateButton:hover span{
    color: #b84444;
}

.issue-info-due-date-title{
    margin-left: 5px; /* Añade un pequeño margen a la izquierda del icono */
      display: inline-flex;
      align-items: center;
}

.issue-info-due-date-title span{
      color: #ea7c0e;
    font-size: 27px;
}


.issue-info-due-date-title-expired{
    margin-left: 5px; /* Añade un pequeño margen a la izquierda del icono */
      display: inline-flex;
      align-items: center;
}

.issue-info-due-date-title-expired span{
    color: #dd3333;
    font-size: 27px;
}

.sutil-select {
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    background-color: #fff;
      cursor: pointer;
      margin-top: 20px;
}

.sutil-select:focus {
    outline: none;
    border-color: #008aa8;
    box-shadow: 0 0 3px rgba(0, 138, 168, 0.5);
}

.issue-info-status-properties-type {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
}

.issue-info-status-properties-priority {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
}

.issue-info-status-properties-severity {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
}

.issue-info-title-title {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
}

.issue-info-title-title h1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.issue-info-title-title input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: inherit;
    vertical-align: middle;
}

.issue-info-title-saveButton {
    background-color: #83eede;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding: 7px;
    border-color: #83eede;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.issue-info-title-saveButton:hover {
    background-color: #6be3d399;
}

.issue-info-title-cancel-edit {
    text-decoration: none;
    color: red;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-flex; /* Añadimos para centrar el icono */
    align-items: center; /* Centramos el icono verticalmente */
}

.issue-info-title-cancel-edit span {
      font-size: 30px;
      color: red;
}

.issue-info-title-cancel-edit span:hover {
    color: #b84444;
}

.issue-info-goToOtherIssue {
    display: flex;
    align-items: center;
}

.issue-info-goToOtherIssue-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.issue-info-comment img {
    margin-right: 15px;

}