/* Cabecera */
.issue__key-container {
    margin-top: 30px;
    display: grid;
    font-size: 12px;
    /* Ajusta los anchos de cada columna a tu gusto */
    grid-template-columns: 40px 40px 40px auto 130px 160px 160px 40px;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 10px;
    gap: 25px; /* Espacio entre columnas, opcional */
}

.issue__key, .issue__text {
    text-align: center;
}

/* Filas de issues */
.issue__item-content {
    display: grid;
    /* Misma configuración de columnas que la cabecera */
    grid-template-columns: 40px 40px 40px auto 130px 160px 160px 40px;
    align-items: center;
    padding: 10px;
    gap: 25px; /* Espacio entre columnas, opcional */
}

/* Estilos generales de la lista */
.issue__item {
    list-style: none;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Para las “bolas” de Type, Severity, Priority */
.issue__type,
.issue__severity,
.issue__priority {
    display: flex;
    justify-content: center; /* Centra el texto/ícono dentro de la bola */
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    margin: auto; /* Centra la “bola” en su columna */
}

/* Detalle de la 4ª columna */
.issue__detail {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.issue__id {
    color: #008aa8;
    font-weight: bold;
    margin-right: 15px;
}

.issue__description {
    font-size: 16px;
    margin-left: 15px;
}


.issue__topic {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-left: 5px;

}

.issue__select {
    appearance: none;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.issue__select:hover {
    cursor: pointer;
}



/* Íconos (5ª columna) */

.issue__icon {
    color: #666;
    font-size: 24px;
    margin: 0 5px;
}

.issue__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.issue__text {
    font-size: 16px;
}

/* Hover */
.issue__item:hover {
    background-color: #e0e0e0;
}


.issue__detail-link {
    text-decoration: none;
    color: inherit;

}

.issue__search-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 4;
    margin-left: 15px;

}

.issue__search-bar--container {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px #aaa;
    padding: 0 10px;
}

.issue__search-bar--container span {
    color: #008aa8;
    font-size: 30px;
}

.issue__search-bar--container input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: 20px;
    padding: 10px;
}


.issue__filter-add--Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
}

.issue__filter {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.issue__add {
    flex-grow: 2;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.issue__add-button--container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83eede;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 0 5px #aaa;
}

.issue__add-button--container:hover {
    background-color: #6be3d399;

}


.issue__add-button--container span {
    color: #000;
    margin: 0;
    font-size: 20px;
}
.issue__add-button--container P {
    color: #000;
    font-size: 20px;
    margin: 0 10px 0 10px;
}

.issue__add-button a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}



.issue__addBulk-button {
    margin-left: 15px;
    background-color: #f3f3f3;
    padding: 4px 10px;
    border-radius: 7px;
    box-shadow: 0 0 5px #aaa;
}

.issue__addBulk-button span {
    font-size: 30px;
    color: #000;
}

.issue__filter-button {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding:10px;
    margin-left: 10px;
    box-shadow: 0 0 5px #aaa;
}

.issue__filter a {
    text-decoration: none;
}

.issue__filter-button:hover {
    background-color: #e0e0e0;
}

.issue__filter-button span {
    font-size: 20px;
    color: #008aa8;
    margin: 0;
}
.issue__filter-button p {
    font-size: 20px;
    color: #008aa8;
    margin: 0;
    margin-left: 10px;
}